# .chezmoi.toml

[git]
  autoCommit = true
  autoPush = true

# Explicitly define interpreter for .sh files and restrict to non-Windows OS
[interpreters.".sh"]
  command = "sh"
  condition = '''{{ not .chezmoi.os == "windows" }}'''

# Explicitly define interpreter for .ps1 files and restrict ONLY to Windows OS
[interpreters.".ps1"]
  command = "powershell.exe" # Or pwsh for PowerShell Core if preferred/installed
  args = ["-NoProfile", "-NoLogo", "-ExecutionPolicy", "Bypass", "-File"]
  condition = '''{{ eq .chezmoi.os "windows" }}''' 